<include file="./Public/html/header.html"/>
<script src="/Public/html/js/jquery2.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="/Public/html/SweetAlert2/dist/sweetalert2.min.css">
<script src="/Public/html/SweetAlert2/dist/sweetalert2.min.js"></script>
<!-- for IE support -->
<script src="/Public/html/SweetAlert2/lib/es6-promise.min.js"></script>
<div style="width:1000px;  height:300px ;margin-left: 100px">
    <volist name="detail" id="vo">
    <div style="float:left ;  width:50%;  height:100%;text-align: center">
            <div id="<{$vo.id }>" style="width: 200px;margin-left: 200px;margin-top: 30px">
                <input type="hidden" value="<{$vo.id }>" id="movie_id">
                <img src="<{$vo.cover}>" height="210" width="160">
                <div >
                    <strong style="color: #e09015">评分：<{$vo.rate}></strong>
                </div>
            </div>
    </div>
    <div  style="float:left ;  width:50%; height:100%;margin-top: 30px">
        <div id="info">
            <div>
            <h1>
                <span><{$vo.title}></span>
                <span class="year">(2017)</span>
            </h1>
            <div >
                    <span class="p1">
                        导演:
                        <span class="attrs">
                            <{$vo.director}>
                        </span>
                    </span>

                <br/>
                <span class="actor">
                        <span class="p1">主演</span>
                        <span class="attrs">
                            <{$vo.actor}>
                        </span>
                    </span>
                <br/>
                <span class="p1">
                        类型:
                        <span class="attrs">
                            <{$vo.style}>
                        </span>
                    </span>
                <br/>
                <span class="p1">
                        国家:
                        <span class="attrs">
                            <{$vo.country}>
                        </span>
                    </span>
                <br/>

                <span class="p1">
                        上映时间:
                        <span class="attrs">
                            <{$vo.time}>
                        </span>
                    </span>
                <br/>
            </div>
        </div></div>

            <empty name="score">
                <div style="margin : 20px"><button id="score" class="btn btn-danger">我来评分</button></div>
                <else/>
                <div style="margin : 20px"><button  class="btn btn-danger">我的评分:<{$score}></button></div>

            </empty>
    </div>


        <div>
        <div id="brief">
            <p>
                <empty name="brief">
                    暂无简介。。。
                    <else/>
                    <{$brief}>
                </empty>

            </p>
        </div>
        </div>
    </volist>
</div>
<!-- Modal -->




<include file="./Public/html/footer.html"/>

<script>
    $(function () {
        $("#score").click(function () {
            var id =  $("#movie_id").val();
            $.post(
                "/index.php/Home/Recommend/check",
                {"movie_id" : id},
                function (data){
                   if (data.code == 'error'){
                       swal('Oops...', '请先登录!', 'error');
                   }
                   else{
                       swal({
                           title: '请输入您的评分',
                           input: 'text',
                           confirmButtonText: '确定',
                           cancelButtonText:  '取消',
                      /*     showCancelButton: true,*/
                           confirmButtonColor: '#4cd964',
                           cancelButtonColor: 'gray',
                           inputValidator: function(value) {
                               return new Promise(function(resolve, reject) {
                                   if(value) {
                                       if (value > 10 || value < 0) {
                                           reject('请输0-10的评分！');
                                       }
                                       else {
                                           resolve();
                                       }
                                   } else {
                                       reject('至少要输入一个数值！');
                                   }
                               });
                           }
                       }).then(function(result) {
                           $.post("/index.php/Home/Recommend/score",
                               {"movie_id" : id,"score":result},function (res) {
                                      swal({
                                          title : res.msg
                                 }).then(function () {
                                          window.location.href="/index.php/Home/Recommend/index";
                                      });
                                      
                               },'Json');
                       });
                   }
                },"Json"
            )
        })
    })
</script>
